@{
    ViewData["Title"] = "Consulta";
}

<div class="text-center">
    <h1>Consulta de Casas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var casa in Model)
            {
                <tr>
                    <td>@casa.DescripcionCasa</td>
                    <td>@casa.PrecioCasa</td>
                    <td>@casa.Estado</td>
                    <td>@casa.FechaAlquiler</td>
                </tr>
            }
        </tbody>
    </table>
</div>
